body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1.title{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

header p.multimedia{
    font-size: 16px;
    color: aquamarine
}